<div class="container-fluid mt-5">
    <div class="row">
      <div class="col align-self-start">
        <app-mapa (citySelected)="ciudada= $event" (click)="buscarCP()"></app-mapa>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="card ">
          <div class="card-body">
            <h4 class="card-title">Vista del clima</h4>
                <p class="card-text">Radar Meteorologico: {{ciudada}}</p>
                <p class="card-text">Temperatura: {{wheather.main.temp}}°C</p>
                <p class="card-text">Humedad: {{wheather.main.humidity}}%</p>
                <p class="card-text">Temperatura Max.: {{wheather.main.temp_max}}°C</p>
                <p class="card-text">Temperatura Min: {{wheather.main.temp_min}}°C</p>
                <p class="card-text">Estado: {{wheather.weather[0].description}}</p>
          </div>
    </div>
</div>
</div>
