.parallax {
    /* The image used */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/de/Atardecer-RioParana-Candelaria-Misiones.jpg");
    margin: 0px;
    padding: 0px;
    /* Set a specific height */
    min-height: 800px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2{
    /* The image used */
    background-image: url("https://d35hsl9am8s2ta.cloudfront.net/public/images/2020/09/16012432080-5-cosas-que-no-sabas-del-ro-Paran-773x458.jpg");
    margin: 0px;
    padding: 0px;
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imagen {
    width: 1000px;
    height: 800px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.imagen > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}