<footer class="section bg-footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="">
                  <h6 class="footer-heading text-uppercase text-white">Información</h6>
                  <ul class="list-unstyled footer-link mt-4">
                      <li><a href="">Atractivos</a></li>
                      <li><a href="">Recorridos</a></li>
                      <li><a href="">Foros</a></li>
                      <li><a href="">Chats</a></li>
                  </ul>
              </div>
          </div>

         

          <div class="col-lg-3">
              <div class="">
                  <h6 class="footer-heading text-uppercase text-white">Ayuda</h6>
                  <ul class="list-unstyled footer-link mt-4">
                      <li><a href="">Ingresar </a></li>
                      <li><a href="">Login</a></li>
                      <li><a href="">Terminos y Condiciones</a></li>
                      <li><a href="">Ayuda</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-4">
              <div class="">
                  <h6 class="footer-heading text-uppercase text-white">Contactanos</h6>
                  <p class="contact-info mt-4">Contactanos si necesitas ayuda</p>
                  <p class="contact-info">345-3442-000000</p>
                  <div class="mt-5">
                      <ul class="list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
  </div>

  <div class="text-center mt-5">
      <p class="footer-alt mb-0 f-14">2021 - GrupoD - Derechos Reservados</p>
  </div>
</footer>