<div class="sidebar-container collapse" id="dash" name="dash">
    <div class="sidebar-logo">
      Usuario XX
    </div>
    <ul class="sidebar-navigation">
      <li class="header" style="color:white">Panel de Control</li>
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Ciudades
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-umbrella-beach"></i> Atractivos
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-map-marked-alt"></i> Itinerario
        </a>
      </li>

      <li class="header"  style="color:white">Social</li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Foro
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-sms"></i> Chat
        </a>
      </li>
      <li></li>
      <li>
        <a href="#">
          <i class="fas fa-sign-out-alt" style="background-color:teal;"></i> Logout
        </a>
      </li>
    </ul>
  </div>
  
