<app-navbar [logueo]="logged" (btnMenu)="cambiosBtnMenu($event)" (btnAcceder)="cambiosBtnAcceder($event)"></app-navbar>
<app-loginpanel (usuarioLogueado)="recibirEvento($event)" (cerrarLogin)="cambiosBtnAcceder($event)" *ngIf="btnLogin"></app-loginpanel>
<app-perfilpanel (usuarioLogueado)="recibirEvento($event)" (cerrarPerfil)="cambiosBtnAcceder($event)" *ngIf="!btnLogin"></app-perfilpanel>
<app-menu id="menu" *ngIf="btnMenu"></app-menu>
<app-dashboard *ngIf="!btnMenu"></app-dashboard>
<router-outlet></router-outlet>
<app-footer></app-footer>