@using System.Web.Optimization
@{
    Layout = null;
}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @Styles.Render("~/Content/Styles")
</head>
<body>
    <app-root></app-root>

    <script>
        $(document).ready(function () {
            $("#ibotonAcceder").click(function () {
                $("app-login-panel").fadeToggle("fast");
            });
        });
    </script>

    @Scripts.Render("~/Bundles")

</body>

</html>
