<div class="container-fluid contenido">	
	<div class="row">
		<div class="col-md-12">
			<h1 class="mt-4">Condiciones Generales de Contratación</h1><div class="row my-5"><div class="col-md-12"><p style="text-align:center; margin:0cm 0cm 0.0001pt" align="center">&nbsp;</p>

<p >------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<p ><b>NUESTRA EMPRESA OPERA BAJO LAS CONDICIONES GENERALES DE LA SIGUIENTE RESOLUCION N° 256/00 DE LA SECRETARIA DE ESTADO DE TURISMO.</b></p>

<p >BUENOS AIRES, 30 JUN 2000<br>
<br>
VISTO la Ley N° 18.829, su Decreto reglamentario N° 2182 de fecha 19 de abril de 1972, y las disposiciones de la Convención Internacional relativa al Contrato de Viaje ratificada por la Ley 19.918, y</p>

<p >CONSIDERANDO:<br>
Que la normativa mencionada regula, entre otros aspectos, la relación de los agentes de viajes con los usuarios.<br>
Que es conveniente contribuir a una información más amplia y uniforme sobre los derechos y obligaciones que vinculan a las partes en el contrato de viaje.<br>
Que la elaboración de un modelo uniforme sobre las condiciones generales del contrato turístico tiende a evitar o limitar controversias o conflictos interpretativos.<br>
Que las facultades para el dictado del acto emergen de las normas citadas y disposiciones expresadas de la Ley N° 14.574 t.o. 1987, de su Decreto reglamentario N° 9468/61 y del Decreto N° 1407/96.</p>

<p >Por ello, EL SECRETARIO DE TURISMO DE LA PRESIDENCIA DE LA NACION RESUELVE:</p>

<p >ARTICULO 1°.- Aprobar el modelo de condiciones generales de contratación de servicios turísticos que se agrega como ANEXO I a la presente. El modelo aprobado podrá ser adaptado por la secretaria de turismo para casos particulares a pedido de las agencias de viaje cuando las modalidades operativas así lo justifiquen.</p>

<p >ARTICULO 2°.- La entrega al pasajero de las condiciones generales de la contratación impresas debe efectuarse en el primer documento de viaje que emita la agencia.</p>

<p >ARTICULO 3°.- Las condiciones generales de la contratación, conjuntamente con el detalle de los servicios a prestar, los billetes del transporte, las órdenes de servicios, las facturas emitidas y todo otro documento que contenga especificaciones sobre el viaje, conformarán el contrato de viaje.</p>

<p >ARTICULO 4°.- Las condiciones generales de la contratación deberán ser firmadas por un empleado autorizado de la agencia. La firma podrá ser suplida por un sello que contenga la denominación comercial y el número de legajo de la agencia de viajes.</p>

<p >ARTICULO 5°.- En el caso de venta exclusiva por medios electrónicos o sistemas de reservas, deberá preverse el conocimiento y aceptación fehaciente por parte de los pasajeros de las condiciones generales de contratación aprobadas en el artículo 1° de la presente, con anterioridad a la reserva.</p>

<p >ARTICULO 6°.- La sola venta de billetes de pasajes de transporte regular y el alquiler de aeronaves o automotores quedan excluidos del régimen y no requieren entrega y suscripción de las condiciones generales.</p>

<p >ARTICULO 7°.- Toda infracción a las disposiciones de la presente será sancionada conforme las determinaciones del artículo 10 de la Ley N° 18.829.</p>

<p >ARTICULO 8°.- Las disposiciones de la presente entrarán en vigencia a partir del 1° de septiembre de 2000.</p>

<p >ARTICULO 9°.- Regístrese, comuníquese, publíquese, dése a la Dirección Nacional del Registro Oficial y archívese. Firmado: Ing. Hernán Lombardi. Secretario de Turismo. Presidencia de la Nación.</p>

<p >ANEXO I</p>

<p >CONDICIONES GENERALES DEL CONTRATO DE SERVICIOS TURISTICOS</p>

<p >a. SOLICITUDES Y PAGOS:<br>
1) El precio y/o reservación de los servicios que componen el tour quedan sujetos a modificaciones sin previo aviso cuando se produzca una alteración en los servicios, modificaciones en los costos o en los tipos de cambio previstos, por causas no imputables a las partes.</p>

<p >2) Todos los importes pagados antes de la confirmación definitiva de los servicios son percibidos en concepto de reserva. La confirmación definitiva de los servicios y precios respectivos se producirá con la emisión de pasajes y/u órdenes de servicios y la facturación correspondiente.</p>

<p >3) Las operaciones a crédito deberán satisfacer los requisitos propios fijados para las mismas. En su defecto el interesado deberá cumplimentar el pago de los saldos en los plazos y condiciones establecidos en la contratación.</p>

<p >b. LOS PRECIOS INCLUYEN: alojamiento en los hoteles mencionados en los itinerarios u otros de igual o mayor categoría, ocupando habitaciones simples, dobles, triples, etc. Según tarifa elegida, con baño privado e impuestos. Régimen de comidas según se indique en cada oportunidad. Visitas y excursiones que se mencionen. Traslados hasta y desde aeropuertos, terminales y hoteles, cuando se indique. La cantidad prevista de días de alojamiento teniendo en cuenta que el día de alojamiento hotelero se computa desde las quince horas y finaliza a las doce horas del día siguiente, independientemente de la hora de llegada y de salida y de la utilización completa o fraccionada del mismo. La duración del tour será indicada en cada caso tomando como primer día, el de salida y como último incluido el día de salida del destino, independientemente del horario de salida o de llegada en el primer día o en el último.</p>

<p >c. SERVICIOS O RUBROS NO INCLUIDOS: 1) Extras, bebidas, lavado de ropa, propinas, tasas de embarque, tasas sobre servicios, IVA y otros impuestos actuales y/o futuros, ni ningún servicio que no se encuentre expresamente indicado en la orden de servicio emitida por el agente de viajes. 2) Estadas, comidas y/o gastos adicionales o perjuicios producidos por cancelaciones, demoras en las salidas o llegadas de los medios de transporte, o por razones imprevistas ajenas a la empresa. 3) Alimentación en ruta, excepto aquellas que estuviesen expresamente incluidas en los programas. 4) Los gastos e intereses en las operaciones a crédito.</p>

<p >d. LIMITACIONES AL DERECHO DE PERMANENCIA: La empresa se reserva el derecho de hacer que abandone el tour en cualquier punto del mismo todo pasajero cuya conducta, modo de obrar, estado de salud u otras razones graves a juicio de la empresa provoque peligro o cause molestias a los restantes viajeros o pueda malograr el éxito de la excursión o el normal desarrollo de la misma.</p>

<p >e. DOCUMENTACION: Para los viajes al exterior es necesario atender la legislación vigente en cada caso. Es responsabilidad inexcusable de la agencia informar fehacientemente y con anticipación suficiente sobre los requisitos que exigen las autoridades migratorias, aduaneras y sanitarias de los destinos que incluye el tour, siendo responsabilidad exclusiva del pasajero contar con la documentación personal que exijan las autoridades mencionadas anteriormente.</p>

<p >f. CANCELACIONES: 1) En caso de desistimiento de operaciones a crédito no tendrán reembolso los importes abonados en concepto de informe, gastos administrativos, sellados e intereses. 2) Cuando se trate de desistimiento que afecte a servicios contratados en firme por la agencia, el reembolso de los mismos estará sujeto a las condiciones contractuales bajo las cuales presten sus servicios las empresas respectivas. En todos los casos de reintegros, la agencia podrá retener el precio de los gastos incurridos más la comisión del diez por ciento de los servicios contratados con terceros.</p>

<p >g. TRANSPORTE NO REGULAR O CHARTER: rige lo estipulado en el punto anterior. Sin perjuicio de ello, en estos casos sólo se reintegrará la proporción del precio correspondiente a los servicios terrestres (hotelería, pensión, excursiones) que determine el organizador según la modalidad con que operen los prestadores de los servicios. Para que ésta cláusula sea válida deberá determinarse en el primer documento entregado al pasajero la calidad del transporte.</p>

<p >h. CESION Y TRANSFERENCIA: el derecho que confiere al cliente el contrato de servicios turísticos, podrá ser cedido o transferido a otras personas hasta 30 días antes de la fecha de salida, siempre que no se opongan a ello las prescripciones del transportista, del hotelero o prestador de los servicios. En los supuestos que los pasajeros sean de distintas edades (mayores-menores), se ajustará el precio según tarifarios. En todos los casos de cesión o transferencia, la empresa podrá percibir el sobreprecio del 10% del monto convenido.</p>

<p >i. RESPONSABILIDAD: 1) La empresa declara expresamente que actúa en el carácter de intermediaria en la reserva o contratación de los distintos servicios vinculados e incluidos en el respectivo tour o reservación de servicios: hoteles, restaurantes, medios de transportes u otros prestadores. No obstante ello las responsabilidades de la empresa, sea que intervenga como organizadora o intermediaria de viaje será determinada conforme las disposiciones contenidas en la Convención Internacional Relativa al Contrato de Viaje aprobada por la Ley N° 19.918. 2) La empresa no se responsabiliza por los hechos que se produzcan por caso fortuito o fuerza mayor, fenómenos climáticos o hechos de la naturaleza que acontezcan antes o durante el desarrollo del tour que impidan, demoren o de cualquier modo obstaculicen la ejecución total o parcial de las prestaciones comprometidas por la empresa, de conformidad con lo dispuesto por el Código Civil.</p>

<p >j. ALTERACIONES O MODIFICACIONES: 1) La empresa se reserva el derecho, por razones técnicas u operativas, de alterar total o parcialmente el ordenamiento diario y/o de servicios que componen el tour, antes o durante la ejecución del mismo. 2) Salvo condición expresa en contrario, los hoteles estipulados podrán ser cambiados por otro de igual o mayor categoría dentro del mismo núcleo urbano sin cargo alguno para el pasajero. Respecto de estas variaciones el pasajero no tendrá derecho a indemnización alguna. 3) La empresa podrá anular cualquier tour cuando se configure alguna de las circunstancias previstas en el art.24 del Decreto N° 2182/72. 4) Una vez comenzado el viaje, la suspensión, modificación o interrupción de los servicios por parte del pasajero por razones personales de cualquier índole, no dará lugar a reclamo alguno, reembolso o devolución alguna.</p>

<p >k. CLAUSULA DE ARBITRAJE: Toda cuestión que surja con motivo de la celebración, cumplimiento, incumplimiento, prórroga o rescisión del presente contrato, podrá ser sometida por las partes a la resolución del Tribunal Arbitral de la Asociación Argentina de Agencias de Viajes y Turismo y/o de los Tribunales Arbitrales que funcionen en sus Regionales. En caso de sometimiento de dicha jurisdicción, los contratantes se sujetan y dan por aceptadas todas las condiciones establecidas por la Reglamentación del Tribunal Arbitral.</p>

<p >l. NORMAS DE APLICACIÓN: El presente contrato y en su caso la prestación de los servicios, se regirá exclusivamente por estas condiciones generales, por la Ley N° 18.829 y su reglamentación y por la Convención de Bruselas aprobada por la Ley 19.918. Las presentes condiciones generales junto con la restante documentación que se entregue a los pasajeros conformarán el Contrato de Viaje que establece la citada Convención.</p>

<p ><b>Firmado Ing. HERNAN LOMBARDI. Secretario de Turismo. Presidencia de la Nación.</b><br>
<br>
&nbsp;</p>
</div></div><br>		</div>
			</div>
</div>
