<div class="collapse" id="iniciarSesion">

<div class="mx-auto w-25 position-absolute position-relative end-0 " style="top: 80px; z-index: 1">
  <div class="card card-body">
    <h5>Iniciar sesión</h5> <!-- TITULO -->
    <form action="/login" method="post">
      <div class="mb-3 row">
        <label for="_email" class="form-label">Correo electrónico</label>
        <input type="email" name="user" class="form-control" id="_email" placeholder="nombre@ejemplo.com">
      </div>
      <div class="mb-3 row">
        <label for="epassword"  class="form-label">Contraseña</label>
        <input type="password" name="pass" class="form-control" id="epassword" placeholder="**********">
      </div>
    </form>
    <button class="btn btn-outline-info" type="submit">Acceder</button>
  </div></div>
  <div class="oscurecer-fondo" id="oscurecer-fondo"></div>
</div>
