<div class="login-panel">
<div class="oscurecer-fondo"></div>

   <div class="panel">
    <div class="card card-body" style="background-color: rgb(240, 248, 255);">
      <h5>Iniciar sesión</h5>
      <form action="/dash" method="get">
  
        <div class="mb-3 row">
          <label class="form-label">Correo electrónico</label>
          <input type="text" name="email" class="form-control" placeholder="nombre@ejemplo.com">
        </div>
        
        <div class="mb-3 row">
          <label for="epassword"  class="form-label">Contraseña</label>
          <input type="password" name="pass" class="form-control" id="epassword" placeholder="********">
        </div>
  
        <button class="btn btn-outline-info" type="submit" >Acceder</button>
        </form>
    </div>
</div>







</div>

