<div class="login-panel">
  <div class="oscurecer-fondo"></div>
  <div class="panel">
    <div class="card card-body" style="background-color: rgb(240, 248, 255);">
        <h5>Iniciar sesión</h5>
        <form class="form-group" #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        
          <label class="form-label">Correo electrónico</label>
          <input name="email" #nombre="ngModel" [(ngModel)]="service.formData.uemail" class="form-control" placeholder="nombre@ejemplo.com">
          <label class="form-label">Contraseña</label>
          <input type="password" name="pass" class="form-control" id="epassword" placeholder="********">
          <button class="btn btn-outline-info" type="submit" >Acceder</button>
          <a href="/registrarse" class="link-primary">Registrarse</a>
        </form>        
    </div> 



  </div>





</div>

